doctype html
html
  head
   head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Welcome
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
    link(rel='stylesheet', href='/public/stylesheets/style.css')
  body
    nav
      ul
        li
          a(href='/') Home
        li
          a(href='/profile') Profile
        li
          a(href='/updateProfile') Change Profile
        li
          a(href='/searchProducts') Search Products
        li
          a(href='/login') Login
        li
          a(href='/createAccount') Create Account
        li
          a(href='/answer') Answer Questions  
    form(action='/login', method='post')
      h1 Login Page
      div
        label(for='username') Username:
        input(type='text', id='username', name='username', placeholder='Enter Username', required='')
        label(for='password') Password:
        input(type='password', id='password', name='password', placeholder='Enter Password', required='')
        button(type='submit') Login
    if outcome
      p Login outcome: #{outcome}
