doctype html
html
  head
    title Your profile
  body
    h1 Your profile
    h2 Account details
    h3 Username
    h3 Address
    h3 City
    h3 Country
    h3 Mobile
    h2 Payment details
    h3 Provider
    h3 Account number