doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Welcome
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
    link(rel='stylesheet', href='/public/stylesheets/style.css')
  body
    nav
      ul
        li
          a(href='/') Home
        li
          a(href='/profile') Profile
        li
          a(href='/updateProfile') Change Profile
        li
          a(href='/searchProducts') Search Products
    main
        form(action="post")
            each field in formFields
                br
                label= field.name
                br
                input(name=field.name)
                br
                br
                hr
            button(type="submit") Submit